* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* Header Section */
header {
  background-color: grey;
  padding: 30px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
li a {
  text-decoration: none;
  color: white;
}
.header h1 {
  border: 1px solid white;
  color: white;
}
.fa-solid.fa-bars {
  display: none;
  font-size: 1.2rem;
  color: white;
}
.carousel-item img {
  z-index: 100 !important;
}
#carouselExample {
  position: relative;
  height: 100vh;
  z-index: 13 !important;
}
.carousel-inner {
  height: 100%;
}
.carousel-text {
  color: white;
  font-size: 1.5rem;
}

.carousel-inner-text {
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 9999;
}
.book {
  padding: 10px;
  color: white;
  background-color: transparent;
  margin-left: 20%;
  border: 2px solid white;
  font-size: 2rem;
}
.book:hover {
  background-color: white;
  color: #27272b;
}

@media only screen and (max-width: 767px) {
  nav {
    display: none;
  }
  .fa-solid .fa-bars {
    display: block;
  }
}

/* Hero Banner section */

.hero-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.hero-right {
  color: rgb(134, 128, 128);
}
.hero-right h4 {
  color: black;
}
@media only screen and (max-width: 767px) {
  .hero-banner {
    flex-direction: column;
  }
}
/* Our menu section  */
.menu {
  margin-top: 70px;
  text-align: center;
}
.buttons button {
  padding: 5px 15px;
  border: 1px solid white;
  margin-bottom: 20px;
  background-color: #ffb400;
  color: white;
}
.menu-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.menu-card {
  /* border: 0.5px solid black; */
  width: 30%;
  flex-direction: column;
}
.menu-text {
  flex-direction: column;
}
.menu-card img {
  width: 100%;
  border-radius: 80%;
  padding: 30px;
}
@media only screen and (max-width: 767px) {
  .menu-cards {
    flex-direction: column;
  }
  .menu-card img {
    width: 100%;
  }
}
.delete {
  padding: 5px;
  border: none;
  background-color: red;
  color: white;
  text-align: center;
}
#guests {
  margin-top: 70px;
  text-align: center;
}
.guests-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 40px;
}
.guests-card img {
  width: 50%;
  border-radius: 50%;
}
@media only screen and (max-width: 767px) {
  .guests-cards {
    flex-direction: column;
  }
  .guests-card img {
    width: 100%;
  }
}
#blog {
  margin-top: 70px;
  text-align: center;
}
.blog-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.blog-card img {
  width: 100%;
  aspect-ratio: 3/3;
  object-fit: cover;
}
@media only screen and (max-width: 767px) {
  .blog-cards {
    flex-direction: column;
  }
}
#footer {
  background-color: #27272b;
  margin-top: 80px;
}
.footer {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 50px;
}
.hours {
  width: 50%;
}
@media only screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
  }
}
#p {
  background-color: #27272b;
  text-align: center;
  color: white;
}
